# Python
__pycache__/
*.py[cod]
*.pyo
*.so

# Ambiente
.env
.venv/
*.egg-info/

# IDEs / editores
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints/
*.ipynb

.DS_Store
Thumbs.db

*.log
*.sqlite
*.pfx

*.csv
*.odf
*.ods
*.xlsx
*.txt
*.pdf
*.jsonl
